<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <div class="row">
      <ion-col size-md="12" size="12" class="d-flex justify-content-center">
        <img src="/assets/images/Logotipo.png" alt="" class="logo mx-auto mt-5">
      </ion-col>
    </div>

    <ion-row>
      <ion-col size-md="5" size="12" class="mx-auto p-2">

        <ion-text>
          <h2 class="my-2 p-2 text-center">Enviaremos un codigo de verificacion a tu numero</h2>
        </ion-text>

        <ion-item class="my-5">
          <ion-input type="number" placeholder="Ingrese su numero telefonico" class="text-center"></ion-input>
        </ion-item>

        <ion-button fill="solid" expand="block" class="my-5" routerLink="/validation">
          Siguiente
        </ion-button>

      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-content>
