<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <div class="row">
      <ion-col size-md="12" size="12" class="d-flex justify-content-center">
        <img src="/assets/images/Logotipo.png" alt="" class="logo mx-auto mt-5">
      </ion-col>
    </div>


    <ion-row>
      <ion-col size-md="5" size="12" class="mx-auto p-2">
        
        <ion-text>
          <h2 class="my-2 p-2 text-center">Selecciona un Curso</h2>
        </ion-text>

        <ion-list>

          <ion-item routerLink="/terms-and-condicions">
            <ion-label>Como hacer Trade (Free)</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>

          <ion-item routerLink="/terms-and-condicions">
            <ion-label>SP Supervisor ($350)</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>

          <ion-item routerLink="/terms-and-condicions">
            <ion-label>Proveedor de Señal ($500)</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>

          <ion-item routerLink="/terms-and-condicions">
            <ion-label>Trade Junior ($500)</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>

          <ion-item routerLink="/terms-and-condicions">
            <ion-label>Trader Consciente ($850)</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>

        </ion-list>



        <!-- List of Text Items -->
        <!-- <ion-list>
          <ion-item routerLink="/curso">
            <ion-label>Español</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>
          <ion-item routerLink="/curso">
            <ion-label>Portugués</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>
          <ion-item routerLink="/curso">
            <ion-label>Inglés</ion-label>
            <ion-icon name="chevron-forward-outline" side="end"></ion-icon>
          </ion-item>
        </ion-list> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
