// #home{
//     height: 100vh;
//     justify-content: center;
//     display: flex;
//     background-color: #0065D0; 
//     font-family: inherit;
//     >.row{
//         min-height: 100vh;
//     }
//     .title{
//         margin-bottom: 20px;
//         text-align: center;
//     }
//     .logo{
//         display: block;
//         img{
//             width: 150px;
//             height: 150px;
//         }
//     }
//     .down{
//         bottom: 0;
//         text-align: center;
//         ion-button{
//             width: 80%;
//         }
//         ion-button{
//             background: #000;
//             margin-top:20px;
//         }
//     }
//     .regis{
//         color: #fff;
//         background: #0065D0;
//         width: 300px;
//         padding: 10px 15px;
//     }
// }

.ion-page{
    display: flex;
    align-items: center;
}
.izqui{
    color: #fff;
    background: url("/assets/images/trade.jpg");
}
.cont>ion-row{
    min-height: 100vh;
}
