<ion-content id="home">
  <ion-grid class="cont">

    <ion-row>

      <ion-col>
          <ion-row class="pt-5 ps-5 pe-5 izqui">
            <ion-col size="12">
              <ion-text>
                <h3 class="text-center mb-3">Enjoy The Benefits Of
                  Becoming an Mosaic Formula</h3>
              </ion-text>
            </ion-col>
            <ion-col size="12">
                <ul class="list-group">
                  <li class="mb-4">
                      <img src="/assets/images/trade1.svg" alt="" class="d-inline me-3">
                      <p class="fw-bold d-inline">1,000+ Instruments</p>
                  </li>
                  <li class="mb-4">
                    <img src="/assets/images/trade2.svg" alt=""  class="d-inline me-3">
                      <p class="fw-bold d-inline">Zero Commission</p>
                  </li>
                  <li class="mb-4">
                    <img src="/assets/images/trade3.svg" alt=""  class="d-inline me-3">
                      <p class="fw-bold d-inline">Tight Spreads</p>
                  </li>
                  <!-- <li class="mb-4">
                    <img src="/assets/images/trade4.svg" alt=""  class="d-inline me-3">
                      <p class="fw-bold d-inline">Money Protect
                        with AvaProtect™</p>
                  </li> -->
                </ul>
            </ion-col>

          </ion-row>
      </ion-col>

      <ion-col>
          <ion-row class="p-5">
            
            <ion-col size="12" class="mb-5">
                <ion-text><p class="text-center mb-3">With regulatory licences across 6 jurisdictions, we will ensure a secure trading experience, tailored to your needs.</p></ion-text>
            </ion-col>

            <ion-col size="12">
              <ion-item class="mb-3">
                <ion-input placeholder="Email" type="email"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item class="">
                <ion-input placeholder="Password" type="password"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12" class="d-flex justify-content-center">
                <button type="" class="btn btn-primary mt-4 py-2 px-5 rounded-pill">Crear mi cuenta</button>
            </ion-col>

          </ion-row>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>