<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="datos-prin">
    <ion-grid>
      
      <div class="row">
        <ion-col size-md="12" size="12" class="d-flex justify-content-center">
          <img src="/assets/images/Logotipo.png" alt="" class="logo mx-auto mt-5">
        </ion-col>
      </div>

      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-label position="stacked" class="" >Nombre</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-label position="stacked" class="" >Apellido</ion-label>
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-label position="stacked" class="" >Correo electronico</ion-label>
          <ion-input type="email"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-label position="stacked" class="" >Fecha de nacimiento</ion-label>
          <ion-input type="date"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-label position="stacked" class="" >Ciudadania</ion-label>
          <ion-input></ion-input>

          <ion-button shape="block" class="mt-3"  routerLink="/inver-estud">Siguiente</ion-button>
        
        </ion-col>
      </ion-row>

    </ion-grid>

    <!-- <form action="">
      

      <div class="input-group">
        <input type="text" class="form-control">
      </div>


      <ion-item class="mb-1">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item class="mb-1">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item class="mb-1">
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      
      <ion-item class="mb-3">
        <ion-label position="stacked">
          Fecha de nacimiento
        </ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ciudadania</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button shape="block" class="mt-3"  routerLink="/inver-estud">Siguiente</ion-button>
    </form> -->
</ion-content>
