
/*::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: #fff;
}
input[type=date]{
    color:transparent;
}*/


#datos-prin{
    font-family: inherit;
    ion-label{

    }
    ion-input{
        border: 2px solid #0065D0;
        border-radius: 5px;
    }
    ion-button
    {
       
        background:#0065D0;
        color: #fff;
    }
}