<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-grid>
      <div class="row">
        <ion-col size-md="12" size="12" class="d-flex justify-content-center">
          <img src="/assets/images/Logotipo.png" alt="" class="logo mx-auto mt-5">
        </ion-col>
      </div>

      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-text class="">
            <h2 class="text-center my-5">Unase a miles de personas que ya han descubierto varias estrategias para invertir en Mosaic Formula.</h2>
            <h5 class="text-center my-5">Elije alguno de estos perfiles para comenzar con tu inversión</h5>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-item >
            <ion-text routerLink="/pais" class="">Inversionista <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="5" size="12" class="mx-auto p-2">
          <ion-item >
            <ion-text routerLink="/idioma" class="">Estudiante<ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    


<!-- <ion-item routerLink="/pais">
  <ion-text class="">Inversionista <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
</ion-item>

<ion-item routerLink="/idioma">
  <ion-text class="">Estudiante<ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
</ion-item> -->


</ion-content>