<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>

    <div class="row">
      <ion-col size-md="12" size="12" class="d-flex justify-content-center">
        <img src="/assets/images/Logotipo.png" alt="" class="logo mx-auto mt-5">
      </ion-col>
    </div>

    <ion-row>
      <ion-col size-md="5" size="12" class="mx-auto p-2">
        <ion-text>
          <h2 class="my-2 p-2 text-center">Terminos y Condiciones.</h2>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="5" size="12" class="mx-auto p-2">
        <ion-text>
          <p class="text-center mt-5">Acepte los terminos y condiciones.</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="5" size="12" class="mx-auto p-2">
        <ion-button expand="full" color="dark" routerLink="/inicio">Denegar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="5" size="12" class="mx-auto p-2">
        <ion-button expand="full" routerLink="/correo-telefono">Aceptar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
